/*.get {
    font-family: Arial;
    background-color: black;

    &__hr{
    border: 1px solid white;
    width: 20%;
    margin-top: 4%;
    margin-bottom: 5%;
  }
}*/


h1 {
    background-color: pink;
}